<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamOne</key>
		<string>Srilanka</string>
		<key>teamTwo</key>
		<string>Pakistan</string>
		<key>timePerOver</key>
		<integer>5</integer>
		<key>totalOvers</key>
		<string>2</string>
		<key>matchStartTime</key>
		<date>2014-07-22T09:30:00Z</date>
		<key>interval</key>
		<integer>5</integer>
		<key>ground</key>
		<dict>
			<key>city</key>
			<string>Lahore</string>
			<key>country</key>
			<string>Pakistan</string>
			<key>name</key>
			<string>Qadafi Stadium</string>
			<key>street</key>
			<string>16</string>
		</dict>
		<key>oversTeam1</key>
		<array>
			<array>
				<string>6</string>
				<string>6</string>
				<string>2</string>
				<string>wk</string>
				<string>0</string>
				<string>4+wd</string>
				<string>6</string>
			</array>
			<array>
				<string>6</string>
				<string>0</string>
				<string>2</string>
				<string>nb</string>
				<string>nb</string>
				<string>wk</string>
				<string>1</string>
				<string>4</string>
			</array>
		</array>
		<key>oversTeam2</key>
		<array>
			<array>
				<string>6</string>
				<string>4</string>
				<string>2</string>
				<string>wk</string>
				<string>3</string>
				<string>3+wd</string>
				<string>4</string>
			</array>
			<array>
				<string>2</string>
				<string>0</string>
				<string>2</string>
				<string>nb</string>
				<string>wd</string>
				<string>wk</string>
				<string>4</string>
				<string>0</string>
			</array>
		</array>
		<key>oversTeam12</key>
		<array>
			<array>
				<string>2</string>
				<string>4</string>
				<string>1</string>
				<string>wk</string>
				<string>6</string>
				<string>2+wd</string>
				<string>4</string>
			</array>
			<array>
				<string>0</string>
				<string>0</string>
				<string>4</string>
				<string>nb</string>
				<string>wd</string>
				<string>wk</string>
				<string>6</string>
				<string>3</string>
			</array>
		</array>
		<key>oversTeam21</key>
		<array>
			<array>
				<string>2</string>
				<string>4</string>
				<string>4</string>
				<string>wk</string>
				<string>6</string>
				<string>wd</string>
				<string>6</string>
			</array>
			<array>
				<string>0</string>
				<string>2</string>
				<string>4</string>
				<string>nb</string>
				<string>wd</string>
				<string>wk</string>
				<string>6</string>
				<string>4</string>
			</array>
		</array>
	</dict>
</array>
</plist>
